Repository sd0xdev/onekey-balance-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, prettier --write

feat: 更新 .gitignore 檔案以包含新的環境變數檔案，並在 README 中新增 CI/CD 部署配置及環境變數管理說明，增強專案的部署流程與安全性
  .dockerignore
  .env.example
  .github/workflows/gcp-deploy-unified.yml
  .gitignore
  Dockerfile
  README.md
  cloud-run-service.template.yaml
  docs/gcp-deployment-guide.md
  docs/secrets-and-env-vars-management.md
  docs/workload-identity-federation-setup.md
  scripts/setup-gcp.sh
  scripts/setup-secrets.sh
  scripts/setup-vars.sh
  src/app.controller.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 在 GCP 部署工作流程中新增權限設置，確保內容讀取和 ID 令牌寫入的正確性
  .github/workflows/gcp-deploy-unified.yml
  cloud-run-service.template.yaml
  docs/workload-identity-federation-setup.md
  scripts/setup-gcp.sh
  src/main.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

fix: 更新 cloud-run-service.template.yaml 中的健康檢查路徑，將 /health 修改為 /v1/health，以符合最新的 API 結構
  cloud-run-service.template.yaml
Due: prettier --write

feat: 在 cloud-run-service.template.yaml 中新增 ingress 設定為 'all'，以允許所有流量進入；在 GCP 部署工作流程中新增 --allow-unauthenticated 標誌，強化服務的可訪問性與靈活性
  .github/workflows/gcp-deploy-unified.yml
  cloud-run-service.template.yaml
Due: prettier --write

feat: 在 README.md 中新增「詳細文檔」部分，提供多項文檔鏈接以幫助用戶理解部署流程與系統架構
  README.md
Due: prettier --write

chore(doc): 更新專案結構文檔，強調模組化設計與目錄清晰性，並新增功能模組概覽與配置說明，提升文檔的可讀性與維護性
  .cursor/rules/project-structure.mdc
Due: none

chore(doc): 更新工作草稿文檔，重構資料源選擇與服務比較部分，增強可讀性與結構清晰度，並強調各供應商的關鍵功能與優缺點
  docs/working-draft.md
Due: prettier --write

chore(doc): 更新工作草稿文檔，重組章節順序，將「環境變數」與「許可證」部分移除，並強調「Roadmap」的內容，提升文檔的結構清晰度與可讀性
  docs/working-draft.md
Due: prettier --write

chore(ci): 更新 GitHub Actions 工作流程，新增 pull_request 事件類型以支持開啟、同步及重新開啟請求
  .github/workflows/ci.yml
  src/balances/balance.controller.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

fix: 更新 README.md 中的最大實例數設定，將生產環境的 MAX_INSTANCES 調整為 2，開發環境的 MAX_INSTANCES 調整為 1，以反映最新的資源使用與成本控制策略
  README.md
Due: prettier --write

feat: 更新 package.json 以新增端對端測試的覆蓋率命令及合併覆蓋率的腳本，並更新依賴項以支持新的測試功能
  .github/workflows/ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/merge-coverage.ts
  src/chains/controllers/chains.controller.spec.ts
  src/chains/services/ethereum/ethereum.service.spec.ts
  src/chains/services/solana/solana.service.spec.ts
  src/core/cache/cache.service.spec.ts
  src/providers/implementations/ethereum/ethereum-alchemy.provider.spec.ts
  src/providers/implementations/ethereum/ethereum-quicknode.provider.spec.ts
  src/providers/implementations/ethereum/ethereum-quicknode.provider.ts
  src/providers/implementations/solana/solana-alchemy.provider.spec.ts
  src/providers/implementations/solana/solana-alchemy.provider.ts
  test/jest-e2e.json
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat(cache-key): 更新 CI 工作流程以包含覆蓋率報告的文件，並在 BalanceService 和 WebhookService 中引入 CacheKeyService 以改進緩存鍵的管理，新增鏈 ID 的處理邏輯，增強了對不同鏈的支持與緩存失效的精確性。
  .github/workflows/ci.yml
  src/balances/services/balance.service.ts
  src/core/cache/cache-key.service.spec.ts
  src/core/cache/cache-key.service.ts
  src/core/cache/cache.module.ts
  src/webhook/dto/webhook-event.dto.ts
  src/webhook/webhook.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 新增通知模組，整合事件發送功能以處理區塊鏈活動，並更新 webhook 服務以支持新事件類型，強化對地址活動、NFT 活動及交易確認的處理邏輯。
  docs/webhook-debug-guide.md
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/notification/notification.module.ts
  src/notification/notification.service.ts
  src/webhook/dto/webhook-event.dto.ts
  src/webhook/webhook.controller.ts
  src/webhook/webhook.module.ts
  src/webhook/webhook.service.spec.ts
  src/webhook/webhook.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 新增 EVM 多鏈支持，整合以太坊、Polygon 和 BSC 服務，並更新環境變數配置以控制啟用的鏈，強化區塊鏈服務的擴展性與靈活性。
  .cursor/rules/blockchain.mdc
  .env.example
  README.md
  src/chains/chains.module.ts
  src/chains/constants/evm-chains.ts
  src/chains/constants/index.ts
  src/chains/services/bsc/bsc.service.ts
  src/chains/services/core/abstract-evm-chain.service.ts
  src/chains/services/core/blockchain.service.ts
  src/chains/services/ethereum/ethereum.service.spec.ts
  src/chains/services/polygon/polygon.service.ts
  src/config/blockchain.config.ts
  src/providers/constants/blockchain-types.ts
  src/providers/provider.factory.ts
  test/multi-chain-balances.e2e-spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 更新區塊鏈類型定義，將 BlockchainType 更名為 ChainName，並調整相關代碼以支持新的鏈類型，增強代碼一致性與可讀性；移除不再使用的 EVM_CHAINS 常數，簡化鏈服務的實現邏輯。
  .cursor/rules/blockchain-providers.mdc
  src/chains/constants/evm-chains.ts
  src/chains/constants/index.ts
  src/chains/controllers/chains.controller.spec.ts
  src/chains/controllers/chains.controller.ts
  src/chains/services/bsc/bsc.service.ts
  src/chains/services/core/abstract-evm-chain.service.ts
  src/chains/services/ethereum/ethereum.service.ts
  src/chains/services/polygon/polygon.service.ts
  src/chains/services/solana/solana.service.spec.ts
  src/chains/services/solana/solana.service.ts
  src/providers/constants/blockchain-types.ts
  src/providers/constants/index.ts
  src/providers/constants/provider-registration.ts
  src/providers/decorators/provider.decorator.ts
  src/providers/implementations/ethereum/ethereum-alchemy.provider.ts
  src/providers/implementations/ethereum/ethereum-quicknode.provider.ts
  src/providers/implementations/solana/solana-alchemy.provider.ts
  src/providers/provider.factory.ts
  src/providers/providers.module.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 更新快取策略文檔，整合 cache-manager v6 與 Keyv 架構，增強對 Redis 和記憶體快取的支持；新增多層快取策略與錯誤處理機制，並優化快取鍵管理與失效策略，提升系統的穩定性與性能。
  .cursor/rules/caching-strategy.mdc
  src/chains/constants/index.ts
  src/chains/services/core/abstract-evm-chain.service.ts
  src/core/cache/cache.module.ts
  src/core/cache/cache.service.ts
  src/core/db/schemas/webhook-event.schema.ts
  src/providers/constants/blockchain-types.ts
  src/providers/constants/index.ts
  src/webhook/webhook.service.spec.ts
  src/webhook/webhook.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

test(cache): 更新 CacheService 單元測試，新增 Redis 客戶端模擬方法，強化錯誤處理邏輯，並檢查 Redis 連接狀態與重連機制。
  src/core/cache/cache.service.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

chore(doc): 更新 README.md，調整目錄格式與內容，增強可讀性，並新增多鏈支持與部署指南的詳細說明，提升文檔的整體結構與使用者體驗。
  README.md
Due: prettier --write

chore(ci): 在 CI 和 GCP 部署工作流程中新增明確的權限設定，確保內容讀取的正確性，增強安全性與可維護性。
  .github/workflows/ci.yml
  .github/workflows/gcp-deploy-unified.yml
Due: prettier --write

feat(cache): 新增 CacheMongoService 以整合 Redis 和 MongoDB 的快取邏輯，實現多層快取策略，並更新 BalanceService 以使用通知服務進行快取和資料同步，強化快取失效處理與資料一致性。
  .cursor/rules/caching-strategy.mdc
  .env.example
  src/balances/services/balance.service.ts
  src/config/config.interface.ts
  src/core/cache/cache-mongo.service.ts
  src/core/cache/cache.module.ts
  src/core/cache/cache.service.spec.ts
  src/core/cache/cache.service.ts
  src/core/cache/portfolio-cache.listener.ts
  src/core/core.module.ts
  src/core/db/db.module.ts
  src/core/db/db.service.ts
  src/core/db/schemas/nft-meta.schema.ts
  src/core/db/schemas/nft-owner.schema.ts
  src/core/db/schemas/portfolio-history.schema.ts
  src/core/db/schemas/portfolio-snapshot.schema.ts
  src/core/db/schemas/price-cache.schema.ts
  src/core/db/schemas/tx-history.schema.ts
  src/core/portfolio/portfolio-mongo.listener.ts
  src/core/portfolio/portfolio.module.ts
  src/notification/notification.module.ts
  src/notification/notification.service.ts
  src/webhook/webhook.module.ts
  src/webhook/webhook.service.spec.ts
  src/webhook/webhook.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat(chains): 更新區塊鏈服務架構，新增基於 chainId 的路由系統，支援主網與測試網的動態切換，並優化餘額查詢 API，強化對多鏈的支持與可擴展性。調整相關服務與控制器以整合新邏輯，並更新文檔以反映最新變更。
  .cursor/rules/blockchain.mdc
  eslint.config.mjs
  src/app.module.ts
  src/balances/services/balance.service.ts
  src/chains/chains.module.ts
  src/chains/constants/index.ts
  src/chains/controllers/chain-id.controller.ts
  src/chains/controllers/chains.controller.ts
  src/chains/decorators/chain.decorator.ts
  src/chains/interfaces/balance-queryable.interface.ts
  src/chains/services/bsc/bsc.service.ts
  src/chains/services/core/abstract-evm-chain.service.ts
  src/chains/services/core/chain-router.service.ts
  src/chains/services/core/discovery.service.ts
  src/chains/services/ethereum/ethereum.service.spec.ts
  src/chains/services/ethereum/ethereum.service.ts
  src/chains/services/polygon/polygon.service.ts
  src/chains/services/solana/solana.service.spec.ts
  src/chains/services/solana/solana.service.ts
  src/providers/provider.factory.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat(tests): 新增 BalanceService 和 ChainServiceFactory 的單元測試，強化對鏈名和提供者的處理邏輯，並優化快取與錯誤處理的測試案例，提升測試覆蓋率與穩定性。
  eslint.config.mjs
  src/balances/services/balance.service.spec.ts
  src/chains/services/core/chain-service.factory.spec.ts
  src/core/cache/cache-key.service.ts
  src/core/cache/cache-mongo.service.ts
  src/core/cache/cache.service.spec.ts
  src/core/cache/cache.service.ts
  src/providers/provider.factory.spec.ts
  src/webhook/webhook.service.spec.ts
  src/webhook/webhook.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat(provider): 重構以太坊提供者架構，新增 AbstractEvmProviderService 以支援多鏈，並更新 EthereumAlchemyProvider 以整合新邏輯，強化對 EVM 鏈的支持。調整相關介面與裝飾器以適應多鏈架構，並優化餘額查詢與 Gas 價格獲取功能，提升系統的可擴展性與靈活性。
  src/providers/abstract/abstract-ethereum-provider.service.ts
  src/providers/abstract/abstract-evm-provider.service.ts
  src/providers/decorators/provider.decorator.ts
  src/providers/implementations/ethereum/ethereum-alchemy.provider.spec.ts
  src/providers/implementations/ethereum/ethereum-alchemy.provider.ts
  src/providers/implementations/ethereum/ethereum-quicknode.provider.ts
  src/providers/interfaces/ethereum-provider.interface.ts
  src/providers/interfaces/evm-provider.interface.ts
  src/providers/provider-discovery.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat(provider): 更新區塊鏈提供者文檔，擴展多鏈支援，調整提供者介面階層，並新增抽象提供者實現以簡化開發流程。強化餘額查詢與鏈特定操作的功能，確保向後相容性，提升系統的可擴展性與靈活性。
  .cursor/rules/blockchain-providers.mdc
Due: none

test: 更新 README.md 新增 RoadMap 部分，詳細列出未來開發計劃與功能實現進度；更新 working-draft.md 中的 Roadmap，調整多鏈抽象與前端 Dashboard 的內容；在 BalanceService 中新增舊格式餘額數據轉換為新格式的邏輯，並更新相關測試以確保功能正確性。
  README.md
  docs/working-draft.md
  eslint.config.mjs
  src/balances/services/balance.service.spec.ts
  src/balances/services/balance.service.ts
  src/chains/controllers/chain-id.controller.spec.ts
  src/chains/interfaces/chain-service.interface.ts
  src/chains/services/core/blockchain.service.spec.ts
  src/chains/services/core/chain-router.service.spec.ts
  src/webhook/utils/signature-validator.spec.ts
  src/webhook/webhook.controller.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

chore: 更新 README.md，新增 DevOps & CI/CD 部分
  README.md
Due: prettier --write

更新 README.md，擴展多鏈抽象與快取策略的內容，新增 API 路由與 Webhook 機制，提升文檔的完整性與可讀性。
  README.md
Due: prettier --write

feat: 更新多鏈支持，調整 API 路由至 `/v1/api`，新增 Swagger 文檔生成，強化健康檢查與餘額查詢功能，並整合多鏈提供者架構，提升系統的可擴展性與靈活性。
  .cursor/rules/blockchain-providers.mdc
  .cursor/rules/blockchain.mdc
  README.md
  cloud-run-service.template.yaml
  docs/working-draft.md
  package.json
  pnpm-lock.yaml
  src/app.controller.ts
  src/balances/balance.controller.ts
  src/balances/services/balance.service.ts
  src/chains/controllers/chain-id.controller.spec.ts
  src/chains/controllers/chain-id.controller.ts
  src/chains/controllers/chains.controller.ts
  src/chains/interfaces/chain-service.interface.ts
  src/chains/services/core/abstract-evm-chain.service.ts
  src/chains/services/ethereum/ethereum.service.spec.ts
  src/chains/services/solana/solana.service.spec.ts
  src/chains/services/solana/solana.service.ts
  src/config/config.interface.ts
  src/config/configurations.ts
  src/config/constants.ts
  src/main.ts
  src/providers/constants/provider-registration.ts
  src/providers/decorators/provider.decorator.ts
  src/providers/implementations/ethereum/ethereum-alchemy.provider.spec.ts
  src/providers/implementations/multi-chain/alchemy-multi-chain.provider.spec.ts
  src/providers/implementations/multi-chain/alchemy-multi-chain.provider.ts
  src/providers/interfaces/blockchain-provider.interface.ts
  src/providers/provider-discovery.service.ts
  src/providers/provider.factory.ts
  src/providers/providers.module.ts
  test/multi-chain-balances.e2e-spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 重構區塊鏈提供者架構，新增多鏈支持策略與適配器，整合餘額查詢與 Gas 價格獲取功能，提升系統的可擴展性與靈活性。更新相關文檔以反映新邏輯，並確保向後相容性。
  .cursor/rules/blockchain-providers.mdc
  src/providers/adapters/balance-adapter.factory.ts
  src/providers/adapters/balance-adapter.interface.ts
  src/providers/adapters/implementations/evm-balance.adapter.ts
  src/providers/adapters/implementations/solana-balance.adapter.ts
  src/providers/implementations/multi-chain/alchemy-multi-chain.provider.spec.ts
  src/providers/implementations/multi-chain/alchemy-multi-chain.provider.ts
  src/providers/implementations/multi-chain/alchemy-provider.facade.ts
  src/providers/providers.module.ts
  src/providers/strategies/balance-strategy.factory.ts
  src/providers/strategies/balance-strategy.interface.ts
  src/providers/strategies/implementations/evm-alchemy.strategy.ts
  src/providers/strategies/implementations/solana-alchemy.strategy.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 移除 SolanaAlchemyProvider，更新 providers.module.ts，新增多個測試檔案以強化提供者工廠與平衡適配器的功能，提升測試覆蓋率與穩定性。
  src/providers/__tests__/provider.factory.spec.ts
  src/providers/abstract/__tests__/abstract-provider.service.spec.ts
  src/providers/adapters/__tests__/balance-adapter.factory.spec.ts
  src/providers/adapters/implementations/__tests__/evm-balance.adapter.spec.ts
  src/providers/adapters/implementations/__tests__/solana-balance.adapter.spec.ts
  src/providers/implementations/multi-chain/__tests__/alchemy-provider.facade.spec.ts
  src/providers/implementations/solana/solana-alchemy.provider.spec.ts
  src/providers/implementations/solana/solana-alchemy.provider.ts
  src/providers/providers.module.ts
  src/providers/strategies/__tests__/balance-strategy.factory.spec.ts
  src/providers/strategies/implementations/__tests__/evm-alchemy.strategy.spec.ts
  src/providers/strategies/implementations/__tests__/solana-alchemy.strategy.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 新增 EvmQuickNodeStrategy 和 EvmQuickNodeAdapter，整合 QuickNode 提供者功能，更新 BalanceAdapterFactory 以支援新適配器，並在 EthereumQuickNodeProvider 中實現策略模式，提升多鏈支持的靈活性與可擴展性。
  .cursor/rules/blockchain-providers.mdc
  src/providers/adapters/balance-adapter.factory.ts
  src/providers/adapters/implementations/evm-quicknode.adapter.ts
  src/providers/implementations/ethereum/ethereum-quicknode.provider.spec.ts
  src/providers/implementations/ethereum/ethereum-quicknode.provider.ts
  src/providers/strategies/balance-strategy.factory.ts
  src/providers/strategies/implementations/evm-quicknode.strategy.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 新增 ChainsModule 測試，驗證模組導出服務與配置，並強化 index.ts 的導出測試，提升測試覆蓋率與穩定性；移除過時的 provider.factory.spec.ts 測試檔案，簡化測試結構。
  src/chains/__tests__/chains.module.spec.ts
  src/chains/__tests__/index.spec.ts
  src/providers/__tests__/provider.factory.spec.ts
  src/providers/implementations/ethereum/__test__/ethereum-quicknode.provider.spec.ts
  src/providers/provider.factory.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 新增 Codecov 配置文件以設置覆蓋率檢查，更新 README.md 中的 Codecov 圖示連結，並新增 PortfolioMongoListener 和 PortfolioModule 的單元測試，強化投資組合數據處理邏輯的測試覆蓋率與穩定性。
  README.md
  codecov.yml
  src/core/portfolio/__tests__/portfolio-mongo.listener.spec.ts
  src/core/portfolio/__tests__/portfolio.module.spec.ts
  src/notification/__tests__/notification.module.spec.ts
  src/notification/__tests__/notification.service.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 在 PortfolioModule 測試中設置全局超時時間為 30 秒，以提高測試穩定性。
  src/core/portfolio/__tests__/portfolio.module.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 更新 package.json 和 pnpm-lock.yaml，新增 @nestjs/microservices 和 @nestjs/throttler 依賴，並新增 uuid 套件以支援快取失效通知系統的功能；新增 SSE 快取失效通知系統設計文檔，強化系統的即時更新能力與可擴展性。
  .cursor/rules/notification.mdc
  .cursor/rules/sse-design.mdc
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/core/cache/cache-mongo.service.ts
  src/core/cache/cache.module.ts
  src/core/cache/cache.service.spec.ts
  src/core/cache/cache.service.ts
  src/core/portfolio/__tests__/portfolio.module.spec.ts
  src/core/portfolio/portfolio-mongo.listener.ts
  src/core/portfolio/portfolio.module.ts
  src/core/redis/redis.module.ts
  src/core/sse/decorators/sse-connection.decorator.ts
  src/core/sse/sse-subscription.service.ts
  src/core/sse/sse.controller.ts
  src/core/sse/sse.module.ts
  src/notification/notification.module.ts
  src/notification/notification.service.ts
  src/webhook/webhook.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

test: 測試: 移除 PortfolioModule 測試中的冗餘代碼，簡化模組測試邏輯，並確保測試的穩定性與可讀性。
  src/core/portfolio/__tests__/portfolio.module.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 新增 PortfolioResponseDto 以結構化資產組合回應，更新 BalanceController 以使用新 DTO，簡化 API 回應格式並提升可讀性；移除過時的測試檔案以清理代碼庫。
  src/balances/balance.controller.ts
  src/balances/dto/portfolio.dto.ts
  src/core/portfolio/__tests__/portfolio.module.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 更新 README.md，調整測試與 DevOps 部分的結構，新增單元測試與 E2E 測試的內容，強化文檔的完整性與可讀性；新增 CacheService 和 CacheMongoService 的測試檔案，提升測試覆蓋率與穩定性。
  README.md
  src/core/cache/__tests__/additional-cache.service.spec.ts
  src/core/cache/__tests__/cache-mongo.service.spec.ts
  src/core/sse/__tests__/sse-subscription.service.spec.ts
  src/core/sse/__tests__/sse.controller.spec.ts
  src/core/sse/decorators/__tests__/sse-connection.decorator.spec.ts
  src/notification/__tests__/notification.service.spec.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 更新環境變數範本，新增 webhook 相關配置；重構區塊鏈配置，移除不必要的區塊鏈配置檔案，並在配置服務中新增 webhook 相關的 getter 方法；更新快取服務以支援非阻塞的 Redis 刪除操作，並新增投資組合 MongoDB 監聽器以更新 webhook 監控地址。
  .env.example
  src/app.module.ts
  src/config/blockchain.config.ts
  src/config/config.interface.ts
  src/config/config.module.ts
  src/config/config.service.ts
  src/config/configurations.ts
  src/config/constants.ts
  src/core/cache/cache-mongo.service.ts
  src/core/cache/cache.module.ts
  src/core/cache/cache.service.spec.ts
  src/core/cache/cache.service.ts
  src/core/cache/portfolio-mongo.listener.ts
  src/core/db/schemas/portfolio-snapshot.schema.ts
  src/core/portfolio/__tests__/portfolio-mongo.listener.spec.ts
  src/core/portfolio/portfolio-mongo.listener.ts
  src/main.ts
  src/notification/notification.service.ts
  src/webhook/utils/signature-validator.spec.ts
  src/webhook/utils/signature-validator.ts
  src/webhook/webhook-management.service.ts
  src/webhook/webhook.controller.spec.ts
  src/webhook/webhook.controller.ts
  src/webhook/webhook.module.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

feat: 在 BalanceService 中新增 getTokensFromBalanceData 方法，以安全地從餘額數據中獲取代幣列表，並更新 tokens 的賦值邏輯以使用新方法；在 WebhookManagementService 中擴展 getSigningKeyByUrl 方法，新增 forceRefresh 參數以支援快取刷新，並優化快取邏輯以提升性能。
  src/balances/services/balance.service.ts
  src/webhook/webhook-management.service.ts
Due: eslint --fix --config eslint.config.mjs, prettier --write

Path conditions:
  eslint --fix --config eslint.config.mjs: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,yml,yaml,md})
